<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Word Length Calcuator</title>
</head>
<body>

    <div id="app">

        <h1>Escribe una palabra</h1>
        <input v-model="inputUser" type="text" id="str">

        <p v-show="inputUser">El número de letras es: {{ inputUser.length }}</p>

        <div v-show="inputUser">
            <p v-if="oddEven">La palabra es par</p>
            <p v-else>La palabra es impar</p>
        </div>
        
    </div>

    <script type="module" src="app.js"></script>
</body>
</html>